<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <ngb-alert
          *ngIf="errorMessage"
          type="danger"
          [dismissible]="false"
          class="customize-alert fs-5"
          style="text-align: center"
        >
          {{ errorMessage }}
        </ngb-alert>

        <div *ngIf="isLoaded">
          <div fxLayout="row" fxLayoutAlign="end" class="last-update">
            {{ lastUpdate }}
          </div>

          <h4 class="card-title">{{ game.name }}</h4>

          <!-- large screen layout -->
          <div class="info-lg">
            <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-between">
              <app-course-info
                [currentRound]="currentRound"
                [courseUrl]="courseUrl"
                [courseInfo]="courseInfo"
              ></app-course-info>

              <app-weather [weather]="weather"></app-weather>

              <div class="coursedetails">
                <div>
                  View tournament
                  <a href="{{ eventOverviewUrl + '/id/' + game.event }}">overview</a>
                </div>
                <div>
                  View tournament
                  <a href="{{ eventLeaderUrl + '/id/' + game.event }}">scores</a>
                </div>
              </div>
            </div>
          </div>

          <!-- small screen layout -->
          <div class="info-sm">
            <div fxLayout="column">
              <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-between">
                <app-course-info
                  [currentRound]="currentRound"
                  [courseUrl]="courseUrl"
                  [courseInfo]="courseInfo"
                ></app-course-info>

                <app-weather [weather]="weather"></app-weather>
              </div>

              <div class="coursedetails">
                <div>
                  View tournament
                  <a href="{{ eventOverviewUrl + '/id/' + game.event }}">overview</a>
                </div>
                <div>
                  View tournament
                  <a href="{{ eventLeaderUrl + '/id/' + game.event }}">scores</a>
                </div>
              </div>
            </div>
          </div>

          <marquee
            style="padding: 10px"
            direction="left"
            scrolldelay="200"
            behavior="loop"
            [innerHtml]="newsFeed"
          ></marquee>

          <app-score-board [roundTitles]="roundTitles" [gamers]="gamers"> </app-score-board>

          <br />

          <h4>
            <div>Details</div>
          </h4>
          <div class="scores" id="tablesection" style="text-align: center">
            <div class="user-score-board" *ngFor="let gamer of gamers">
              <app-user-score-board
                [gamer]="gamer"
                [roundTitles]="roundTitles"
                [eventLeaderUrl]="eventLeaderUrl + '/id/' + game.event"
              ></app-user-score-board>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
