td.playerlist-td {
  padding: 0.4em 0.4em;
  border: none;
}

.playerlist-header {
  padding-left: 5px;
  padding-right: 5px;
  border: none;
}

td.playerlist-header-th {
  padding: 0.4em 0.4em;
  border: none;
  color: white;
  background-color: #2f5927;
}

td.playerlist-subheader-th {
  padding: 0.4em 0.4em;
  border: none;
  background-color: #dff0d8;
}

.playerlist-total {
  background-color: #dff0d8;
  /* background-color: #3aafd2; */
}

td.playerlist-total-td {
  padding: 0.4em 0.4em;
  border: 1px solid #777;
}

.playerlist-top5 {
  color: #fff;
  background-color: #1e90ff;
}

td.playerlist-top5-td {
  padding: 0.4em 0.4em;
  border: 1px solid #777;
}

.text-box {
  padding: 5px;
}

.leaders.header {
  background-color: #2f5927;
  color: #fff;
  font-weight: bold;
  border-bottom: 2px solid #005500;
}

.leaders.par {
  background-color: #dff0d8;
  font-weight: bold;
  color: #000000;
}

.golf-round-leader {
  color: #1e90ff;
  font-weight: bold;
}
