.playerlist {
  width: 325px;
  margin: 0 auto 0 auto;
  border: 1px solid #777;
}

.header {
  padding: 0.4em 0.4em;
  border: none;
  color: white;
  background-color: #2f5927;
}

.header-spacer {
  padding: 5px 20px;
  background-color: #2f5927;
  font-weight: bold;
  color: #fff;
  border-bottom: 2px solid #005500;
}

.sub-header {
  padding: 0.4em 0.4em;
  border: none;
  background-color: #dff0d8;

  &.name {
    color: #dff0d8;
  }
}

.bottom5 {
  background-color: #dff0d8;
}

.playerlist-name {
  width: 163px;
  padding: 7px 7px;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  border: none;
}

.playerlist-header {
  padding: 0 5px;
  border: none;
}

.playerlist-score {
  width: 40px;
  padding: 7px 0;
  border: none;
}

.playerlist-detail-score {
  padding: 7px 0;
  border: none;
}

.totals {
  padding: 7px 0;
  background-color: #dff0d8;
  border-top: 1px solid #777;
  border-left: 1px solid #777;

  &.title {
    border-left: none;
  }
}

.top5 {
  width: 40px;
  padding: 7px 0;
  color: #2f5927;
  font-weight: bold;
  background-color: #fff;
  border-top: 1px solid #777;
  border-left: 1px solid #777;
  border-bottom: 1px solid #777;

  &.score {
    border-left: none;
  }

  &.title {
    width: 163px;
    border-left: none;
  }
}

.bottom5-spacer {
  padding: 5px 20px;
  background-color: #dff0d8;
  font-weight: bold;
  color: #fff;
  border-bottom: 2px solid #dff0d8;
}
