<div class="playerlist">
  <div class="header">
    <b>Picks for {{ gamer.name }}</b>
  </div>

  <div fxLayout="row">
    <!-- player name column -->
    <div fxLayout="column">
      <div class="sub-header name">Name</div>

      <ng-container *ngFor="let pick of gamer.picks">
        <div class="playerlist-name">
          {{ pick.name }}
        </div>
      </ng-container>

      <div class="totals title">Total</div>
      <div class="top5 title">Top Five</div>
    </div>

    <!-- player score columns -->
    <ng-container *ngFor="let title of roundTitles; let i = index">
      <div fxLayout="column">
        <div class="sub-header">
          <b>{{ title }}</b>
        </div>
        <ng-container *ngFor="let pick of gamer.picks">
          <div class="playerlist-score">
            {{ pick.rounds[i] }}
          </div>
        </ng-container>
        <div class="totals">
          {{ gamer.totals[i] }}
        </div>
        <div class="top5">
          {{ gamer.scores[i] }}
        </div>
      </div>
    </ng-container>
  </div>
</div>
