<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <app-loading *ngIf="!isLoaded && !errorMessage"></app-loading>

                <h4 class="card-title">Games</h4>

                <ngb-alert *ngIf="errorMessage" type="danger" [dismissible]="false" class="customize-alert fs-5">
                    {{errorMessage}}
                </ngb-alert>
    
                <div *ngIf="isLoaded" class="table-responsive">
                    <table class="table align-middle text-nowrap">
                        <thead>
                            <tr>
                                <th class="text-dark font-medium fs-4">Game</th>
                                <th class="text-dark font-medium fs-4"></th>
                                <th class="text-dark font-medium fs-4">
                                    <div style="text-align: right;"><a [attr.href]="baseUrl"
                                            class="btn btn-rounded btn-success">Add Game</a></div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor='let game of games'>
                                <td>
                                    {{game.attributes.name}}
                                </td>
                                <td class="fs-4">
                                    <a [attr.href]="basePlayersUrl + '/id/' + game.id">View Players</a>
                                </td>
                                <td>
                                    <a [attr.href]="baseUrl + '/id/' + game.id">Edit</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>