<div class="row">
    <div class="col-12">
        <div class="card">

            <div class="card-body">
                <app-loading *ngIf="!isLoaded && !errorMessage"></app-loading>

                <ng-template #content let-modal>
                    <div class="modal-header">
                        <h4 class="modal-title">Confirm Deleting Game</h4>
                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>This will permanently remove game {{game.attributes.name}}. Are you sure?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-rounded btn-info"
                            (click)="modal.dismiss(confirmButton)">{{confirmButton}}</button>
                        <button type="button" class="btn btn-rounded btn-info"
                            (click)="modal.dismiss('Cancel')">Cancel</button>
                    </div>
                </ng-template>


                <h4 class="card-title">{{title}}</h4>
                <form *ngIf="isLoaded" name="form" role="form">

                    <div class="table-responsive">
                        <table class="table align-middle text-nowrap">
                            <thead>
                                <th></th>
                                <th>
                                    <div *ngIf="deleteButton" style="text-align:right;"><a (click)="onDelete(content)"
                                            class="btn btn-rounded btn-danger">Delete</a></div>
                                </th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        Name
                                    </td>
                                    <td class="fs-4">
                                        <div class="form-group">
                                            <input placeholder="Name" name="name" [(ngModel)]="game.attributes.name"
                                                class="form-control input-underline input-lg" type="text" />
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        Tournament
                                    </td>
                                    <td class="fs-4">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <select name="tourstop" [(ngModel)]="selectedTourStop" (ngModelChange)="OnTourStopChanged($event)" >
                                                    <option *ngFor="let s of schedule" [ngValue]="s">{{s.name}}</option>
                                                  </select>
                                            </div>
                                        </div>
                                    </td>

                                </tr>
                                
                                <tr>
                                    <td>
                                        Course
                                    </td>
                                    <td class="fs-4">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <select name="course" [(ngModel)]="selectedCourse">
                                                    <option *ngFor="let c of courses" [ngValue]="c">{{c.attributes.name}}</option>
                                                  </select>
                                            </div>
                                        </div>
                                    </td>

                                </tr>

                                <tr>
                                    <td>
                                        Start
                                    </td>
                                    <td class="fs-4">
                                        <div class="col-12">
                                            <div class="input-group">
                                                <input
                                                    class="form-control"
                                                    placeholder="mm-dd-yyyy"
                                                    name="start"
                                                    [(ngModel)]="game.attributes.start"
                                                    ngbDatepicker
                                                    #d1="ngbDatepicker"
                                                />
                                                <button class="btn btn-outline-secondary bi bi-calendar3" name="starttoggle" (click)="d1.toggle()" type="button"></button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        End
                                    </td>
                                    <td class="fs-4">
                                        <div class="col-12">
                                            <div class="input-group">
                                                <input
                                                    class="form-control"
                                                    placeholder="mm-dd-yyyy"
                                                    name="end"
                                                    [(ngModel)]="game.attributes.end"
                                                    ngbDatepicker
                                                    #d2="ngbDatepicker"
                                                />
                                                <button class="btn btn-outline-secondary bi bi-calendar3" name="endtoggle" (click)="d2.toggle()" type="button"></button>
                                            </div>
                                        </div>
                                    </td>

                                </tr>

                            </tbody>
                        </table>
                    </div>

                    <div style="text-align: center;">
                        <a (click)="onSubmit()" class="btn btn-rounded btn-info">{{submitButton}}</a>
                    </div>

                </form>
            </div>

            <ngb-alert *ngIf="errorMessage" type="danger" [dismissible]="false" class="customize-alert fs-5">
                {{errorMessage}}
            </ngb-alert>

        </div>
    </div>
</div>