<div class="login-page">
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <div style="text-align: center; padding:10px;">
                <img class="user-avatar" src="assets/images/golfpicks.png" width="150px" />
                <h1>GolfPicks Login</h1>
            </div>

            <form name="form" role="form">
                <div class="form-content">

                    <div class="form-group">
                        Email: <input placeholder="Email" name="username" [(ngModel)]="form.username"
                            class="form-control input-underline input-lg" type="email" />
                    </div>

                    <div class="form-group">
                        Password: <input placeholder="Password" name="password" [(ngModel)]="form.password"
                            class="form-control input-underline input-lg" type="password" />
                    </div>
                </div>
                <div style="text-align: center; padding: 10px;">
                    <a (click)="onLoggedin()" class="btn btn-rounded btn-info">Log in</a>
                </div>
            </form>

            <ngb-alert *ngIf="errorMessage" type="danger" [dismissible]="false" class="customize-alert fs-5">
                {{errorMessage}}
            </ngb-alert>    

            <ngb-alert *ngIf="errorMessage" type="danger" [dismissible]="false" class="customize-alert fs-5">
                {{errorMessage}}
            </ngb-alert>

        </div>
    </div>
</div>