<div
  class="overflow-hidden rounded-2xl border border-gray-200 bg-white pt-4 dark:border-white/[0.05] dark:bg-white/[0.03]"
>
  <div class="flex flex-col gap-4 px-6 mb-4 sm:flex-row items-center justify-center">
    <h3 class="text-lg font-semibold text-gray-800 dark:text-white/90">Game History</h3>
  </div>

  <div class="max-w-full overflow-x-auto">
    <table class="min-w-full">
      <thead
        class="px-6 py-3.5 border-t border-gray-100 border-y bg-theme-light-card dark:border-white/[0.05] dark:bg-theme-dark-card"
      >
        <tr>
          <th
            class="px-6 py-3 font-medium text-theme-light-text sm:px-6 text-theme-xs dark:text-theme-dark-text text-start"
          >
            Game
          </th>
          <th
            class="px-6 py-3 font-medium text-theme-light-text sm:px-6 text-theme-xs dark:text-theme-dark-text text-start"
          >
            Action
          </th>
        </tr>
      </thead>
      <tbody>
        @for (game of games?.history; track $index) {
          <tr>
            <td class="px-4 sm:px-6 py-3.5 text-theme-light-text dark:text-theme-dark-text">
              {{ game.event }}
            </td>

            <td class="px-4 sm:px-6 py-3.5 text-brand-500 dark:text-brand-300">
              <a [attr.href]="leaderboardUrl + '/id/' + game.eventid">View</a>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
