<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 *ngIf="isLoaded" class="card-title">Games for {{ user.name }}</h4>

        <ngb-alert
          *ngIf="errorMessage"
          type="danger"
          [dismissible]="false"
          class="customize-alert fs-5"
        >
          {{ errorMessage }}
        </ngb-alert>

        <div *ngIf="isLoaded" class="table-responsive">
          <h5 style="text-align: center">Next Tournament</h5>

          <div *ngIf="games.active.event">
            <div class="text-center">
              <b>{{ games.active.event }}</b>
            </div>
            <div *ngIf="games.active.inProgress" class="text-center">
              <a [attr.href]="leaderboardUrl + '/id/' + games.active.eventid">Leaderboard</a>
            </div>
          </div>

          <div class="status-message">
            <div class="status" [innerHtml]="statusMessage"></div>
          </div>

          <h5 style="text-align: center">Game History</h5>

          <table class="table align-middle text-nowrap">
            <thead>
              <tr>
                <th>Game</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let game of games.history">
                <td>{{ game.event }}</td>
                <td>
                  <a [attr.href]="leaderboardUrl + '/id/' + game.eventid">View</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
