<div>
  <app-page-breadcrumb pageTitle="About GolfPicks" />
  <div
    class="min-h-screen rounded-2xl border border-theme-light-highlight bg-white px-5 py-7 dark:border-theme-dark-highlight dark:bg-white/[0.03] xl:px-10 xl:py-12"
  >
    <div class="mx-auto w-full">
      <h3
        class="mb-4 font-semibold text-theme-light-heading dark:text-theme-dark-heading text-title-sm"
      >
        Technical Details
      </h3>

      <div class="flex flex-row justify-center">
        <div
          class="overflow-hidden rounded-2xl border border-theme-light-highlight bg-white pt-4 dark:border-theme-dark-highlight dark:bg-white/[0.03] w-[450px] md:w-[800px]"
        >
          <div
            class="p-10 flex flex-col justify-center items-center text-sm text-theme-light-text dark:text-theme-dark-text sm:text-base"
          >
            <ul class="list-disc">
              <li>
                The web app is implemented using
                <a class="text-brand-400" href="https://angularjs.org">Angular.js</a> v20
              </li>
              <li>
                The server side is implemented using
                <a class="text-brand-400" href="https://nodejs.org">Node.js</a>
              </li>
              <li>
                <a class="text-brand-400" href="https://aws.amazon.com/dynamodb">DynamoDB</a> is
                used as the backend database.
              </li>
              <li>
                Weather forecast data supplied by the
                <a class="text-brand-400" href="https://openweathermap.org">OpenWeather</a> API
              </li>
              <li>
                Maps data supplied by
                <a class="text-brand-400" href="https://www.google.com/maps">Google</a>
              </li>
              <li>
                Self-hosted using DDNS from
                <a class="text-brand-400" href="https://www.namecheap.com/">NameCheap</a>
              </li>
            </ul>

            <div class="py-6">
              Please send questions or comments to
              <a href="mailto:djboulia@gmail.com" class="text-brand-400">djboulia&#64;gmail.com</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
