<div class="card">
  <div class="card-body">
    <h4 class="card-title">About This App</h4>
    <div class="table-responsive">
      <table class="table align-middle text-nowrap">
        <tbody>
          <tr>
            <td>This is the GolfPicks application.</td>
          </tr>
          <tr>
            <td>
              <b>Technologies Used:</b>
              <ul>
                <li>
                  The web app is implemented using
                  <a href="https://angularjs.org">Angular.js</a>
                </li>
                <li>
                  The server side is implemented using
                  <a href="https://nodejs.org">Node.js</a>
                </li>
                <li>
                  <a href="https://aws.amazon.com/dynamodb">DynamoDB</a> is used as the backend
                  database.
                </li>
                <li>
                  Weather forecast data supplied by the
                  <a href="https://openweathermap.org">OpenWeather</a> API
                </li>
                <li>
                  Maps data supplied by
                  <a href="https://www.google.com/maps">Google</a>
                </li>
                <li>Hosted on <a href="https://aws.amazon.com">AWS</a></li>
              </ul>
              <div>
                Please send questions or comments to
                <a href="mailto:djboulia@gmail.com">djboulia&#64;gmail.com</a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="table align-middle text-nowrap">
        <tbody>
          <tr>
            <td><b>Privacy Policy:</b></td>
          </tr>
          <tr>
            <td>This app does not collect any user data</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
