.scorecard.hole {
    background-color: #2f5927;
    color: #fff;
    border-bottom: 2px solid #005500;
}

.scorecard.hole-hide {
    color: #2f5927;
}

.scorecard.yardage {
    color: #2f5927;
}

.scorecard.handicap {
    color: #767676;
}

.scorecard.par {
    background-color: #dff0d8;
    font-weight: bold;
    color: #000000;
}

.login {
    font-size: 15px;
    height: 40px;
    line-height: 40px;
    color: #cfdeb6;
}

.status {
    background-color: #dff0d8;
}

.status a {
    text-decoration: underline;
}

.instructions {
    padding: 10px 10px 10px 10px;
}

.toppick {
    color: #0000FF;
}

.disabled {
    color: #aaaaaa;
}



/* customize the rdash template to make the side bar green */
/* lighter red color: #840000 */
/* lighter red color: #830101 */
/* darker: #660003 */
/* darkest: #540002 */

/* greens */
/* lightest: #cfdeb6 */
/* lightest: #83b129 */
/* lightest: #b6c996 */
/* lightest: #b2bf99 */
/* lighter: #597521 */
/* darker: #2f8827 */
/* darkest: #2f5927 */

/* greens matching turf palette (darkest to lightest)*/
/* #005500 */
/* #336415 */
/* #5e9d32 */
/* #97d373 */
/* #ace57e */
/* #aae579 */
/* #b5e788 */
/* #cce5aa */


div#sidebar-wrapper {
    background: #005500;
    background-image: url("../../img/turf.jpg");
}

ul.sidebar .sidebar-main a,
.sidebar-footer,
ul.sidebar .sidebar-list a:hover,
#page-wrapper:not(.open) ul.sidebar .sidebar-title.separator {
    /* Sidebar header and footer color */
    background: #005500;
}

ul.sidebar .sidebar-list a {
    color: #f4f4f4;
}

ul.sidebar .sidebar-title {
    display: block;
    float: left;
    text-decoration: none;
    width: 250px;
    font-size: 15px;
    height: 40px;
    line-height: 40px;
    color: #ffffff;
}

.sidebar-footer div a {
    color: #ffffff;
}
/* customer anchor tags in the views to be green */

a {
    color: #005500;
}

a:hover,
a:focus {
    color: #005500;
}

ul.sidebar .sidebar-list a:hover {
    border-left: 3px solid #005500;
}

/* format the login name button in the upper right corner */

.row.header {
    background: #b5e788;
}

.row.header .user>.item {
    width:150px;
}

.header.btn {
    background: #b5e788;
    border-bottom: 1px solid #005500;
    white-space:normal;
}

.alert-danger {
    color: #660003;
    background-color: #f2dede;
    border-color: #ebccd1
}

.alert-success {
    color: #2f5927;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
/* make the currently highlighted row stand out */

tr.selected {
    background-color: #dff0d8;
}

.coursedetails {
    margin-left: 4.453%;    /* 44px / 988px */
    width: 91.09%;           /* 900px / 988px */
}

.leaderboard {
	width: 550px;
	margin: 0 auto 0 auto;
	padding: 5px;
	border: 1px solid #cccccc;
	color: #ffffff;
	font-family: "Arial", Helvetica, sans-serif;
	background: #005500;
}

.leaderboard-header {
    border-bottom: 1px solid #FFFFFF;
	color: #ffffff;
	background: #005500;
}

.instructions {
	padding: 10px;
	font-size: 115%;
}

a.instructions {
    color: yellow;
}

.leadercell {
	color:yellow; 
	background-color:#004400;
}

.ticker-container {
	width: 100%;
	height: 2.9%;
	overflow: hidden;
}
.ticker-text {
	height: 150%;
    white-space:nowrap;
    display:inline-block;
}

td.leaderboard {
	padding: 0.4em 0.4em;
    border:none;
}

.playerlist {
	width:500px; 
	font-family: "Arial", Helvetica, sans-serif;
	margin: 1em 1em 1em 0;	
}

td.playerlist-td {
	padding: 0.4em 0.4em;
    border:none;
}


.playerlist-header {
	padding-left: 5px;
	padding-right: 5px;
    border:none;
}

td.playerlist-header-th {
	padding: 0.4em 0.4em;
    border: none;
    color: white;
    background-color: #2f5927;
}

td.playerlist-subheader-th {
	padding: 0.4em 0.4em;
    border: none;
    background-color: #dff0d8;
}


.playerlist-total {
    background-color: #dff0d8;
/* background-color: #3aafd2; */
}

td.playerlist-total-td {
	padding: 0.4em 0.4em;
    border: 1px solid #777;
}

.playerlist-top5 {
    color: #fff;
    background-color: #1e90ff;
}

td.playerlist-top5-td {
	padding: 0.4em 0.4em;
    border: 1px solid #777;
}

.text-box {
    padding: 5px;
}

.leaders.header {
    background-color: #2f5927;
    color: #fff;
    font-weight: bold;
    border-bottom: 2px solid #005500;
}

.leaders.par {
    background-color: #dff0d8;
    font-weight: bold;
    color: #000000;
}

.golf-round-leader {
    color: #1e90ff;
    font-weight: bold;
}

#map {
    height:350px;
}



