.scorecard.hole {
    background-color: #2f5927;
    color: #fff;
    border-bottom: 2px solid #005500;
}

.scorecard.hole-hide {
    color: #2f5927;
}

.scorecard.yardage {
    color: #2f5927;
}

.scorecard.handicap {
    color: #767676;
}

.scorecard.par {
    background-color: #dff0d8;
    font-weight: bold;
    color: #000000;
}

.map {
    padding-bottom: 10px;
}