<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <ngb-alert
          *ngIf="errorMessage"
          type="danger"
          [dismissible]="false"
          class="customize-alert fs-5"
        >
          {{ errorMessage }}
        </ngb-alert>

        <ng-container *ngIf="isLoaded">
          <h4 class="card-title">{{ course.name }}</h4>

          <div fxLayout="row" fxLayoutAlign="end">
            <a
              [attr.href]="baseUrl + '/id/' + id"
              class="btn btn-rounded btn-success"
              >Edit</a
            >
          </div>

          <div class="header" fxLayout="row" fxLayoutAlign="space-between">
            <div fxLayout="column">
              <div>Tee: {{ course.tee ? course.tee : "Championship" }}</div>
              <div *ngIf="course.rating > 0">Rating: {{ course.rating }}</div>
              <div *ngIf="course.slope > 0">Slope: {{ course.slope }}</div>
            </div>
            <app-weather [weather]="weather"></app-weather>
          </div>

          <form name="form" role="form">
            <div class="map">
              <google-map
                height="400px"
                width="max"
                [center]="mapCenter"
                [zoom]="mapZoom"
              >
                <map-marker
                  [position]="mapCenter"
                  [label]="course.name"
                ></map-marker>
              </google-map>
            </div>

            <div *ngIf="frontNine.holes.length > 0" class="table-responsive">
              <table class="table">
                <thead>
                  <tr class="scorecard hole">
                    <th>Hole</th>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    <th>6</th>
                    <th>7</th>
                    <th>8</th>
                    <th>9</th>
                    <th>OUT</th>
                    <th class="scorecard hole-hide">TOTAL</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="scorecard yardage">
                    <td>Yardage</td>
                    <td *ngFor="let hole of frontNine.holes">
                      {{ hole.yardage }}
                    </td>
                    <td>{{ frontNine.yardage }}</td>
                    <td></td>
                  </tr>
                  <tr class="scorecard handicap">
                    <td>Handicap</td>
                    <td *ngFor="let hole of frontNine.holes">
                      {{ hole.handicap }}
                    </td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr class="scorecard par">
                    <td>Par</td>
                    <td *ngFor="let hole of frontNine.holes">{{ hole.par }}</td>
                    <td>{{ frontNine.par }}</td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div *ngIf="backNine.holes.length > 0" class="table-responsive">
              <table class="table">
                <thead>
                  <tr class="scorecard hole">
                    <th>Hole</th>
                    <th>10</th>
                    <th>11</th>
                    <th>12</th>
                    <th>13</th>
                    <th>14</th>
                    <th>15</th>
                    <th>16</th>
                    <th>17</th>
                    <th>18</th>
                    <th>OUT</th>
                    <th>TOTAL</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="scorecard yardage">
                    <td>Yardage</td>
                    <td *ngFor="let hole of backNine.holes">
                      {{ hole.yardage }}
                    </td>
                    <td>{{ backNine.yardage }}</td>
                    <td class="text-center">{{ course.yardage }}</td>
                  </tr>
                  <tr class="scorecard handicap">
                    <td>Handicap</td>
                    <td *ngFor="let hole of backNine.holes">
                      {{ hole.handicap }}
                    </td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr class="scorecard par">
                    <td>Par</td>
                    <td *ngFor="let hole of backNine.holes">{{ hole.par }}</td>
                    <td>{{ backNine.par }}</td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </form>
        </ng-container>
      </div>
    </div>
  </div>
</div>
