.pos {
  padding: 15px 10px;
  border-bottom: 1px solid #ddd;
}

.header {
  padding: 5px 10px;
  background-color: #2f5927;
  font-weight: bold;
  color: #fff;
  border-bottom: 2px solid #005500;
}

.names {
  padding: 15px 10px;
  border-bottom: 1px solid #ddd;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.score-columns {
  overflow-x: auto;
}

.scores {
  padding: 15px 10px;
  text-align: right;
  border-bottom: 1px solid #ddd;
}

.scorecard.hole {
  padding: 5px 10px;
  background-color: #2f5927;
  color: #fff;
  border-bottom: 2px solid #005500;
}

.golf-round-leader {
  color: #1e90ff;
  font-weight: bold;
}

@media (max-width: 550px) {
  .names {
    width: 200px;
  }
}
