<div style="overflow-x: auto" class="card">
  <div class="card-body">
    <ngb-alert
      *ngIf="errorMessage"
      type="danger"
      [dismissible]="false"
      class="customize-alert fs-5"
    >
      {{ errorMessage }}
    </ngb-alert>

    <ng-container *ngIf="isLoaded">
      <div fxFlex fxLayout="column">
        <h4 class="card-title">{{ event.name }}</h4>

        <div fxLayout="row" class="score-columns">
          <div style="width: 60px" class="header">Pos</div>

          <div style="width: 200px" class="header">Name</div>

          <div style="width: 75px; text-align: right" class="header">Total</div>

          <div style="width: 75px; text-align: right" class="header">Thru</div>

          <div style="width: 75px; text-align: right" class="header">Today</div>

          <div style="width: 20px" class="header-spacer">&nbsp;</div>
          <ng-container *ngFor="let roundNumber of event.roundNumbers">
            <div style="width: 50px" class="header">R{{ roundNumber }}</div>
          </ng-container>
        </div>

        <ng-container *ngFor="let golfer of event.golfers; let i = index">
          <div
            fxLayout="row"
            style="cursor: pointer"
            class="score-columns"
            (click)="onPlayerClick(golfer.player_id)"
          >
            <a [attr.id]="golfer.player_id"
              ><div style="width: 60px" class="pos">{{ golfer.pos }}</div></a
            >
            <div style="width: 200px; cursor: pointer" class="names">{{ golfer.name }}</div>
            <div
              style="width: 75px"
              class="scores"
              [ngClass]="{
                'golf-round-under-par': golfer.total < 0
              }"
            >
              {{ golfer.total }}
            </div>

            <div style="width: 75px" class="scores">{{ golfer.thru ? golfer.thru : '-' }}</div>

            <div
              style="width: 75px"
              class="scores"
              [ngClass]="{
                'golf-round-under-par': golfer.today < 0
              }"
            >
              {{ golfer.today ? golfer.today : '-' }}
            </div>

            <div style="width: 20px" class="spacer">&nbsp;</div>

            <ng-container *ngFor="let roundNumber of event.roundNumbers">
              <div style="width: 50px">
                <div
                  class="scores"
                  [ngClass]="{
                    'golf-round-leader': event.lowRounds[roundNumber] === golfer[roundNumber]
                  }"
                >
                  {{
                    golfer[roundNumber] && golfer[roundNumber].length > 0
                      ? golfer[roundNumber]
                      : '-'
                  }}
                </div>
              </div>
            </ng-container>
          </div>

          <!-- show player detail component if playerDetail is set -->
          <ng-container *ngIf="playerDetail === golfer.player_id">
            <app-eventleader-detail
              [golfer]="golfer"
              [eventUrl]="leadersUrl + '/id/' + id"
              (click)="playerDetail = ''"
            >
            </app-eventleader-detail>
          </ng-container>
        </ng-container>

        <div style="text-align: center">
          Tournament
          <a [attr.href]="eventUrl + '/id/' + id">overview</a>
        </div>
      </div>
    </ng-container>
  </div>
</div>
