<div class="card">
  <div class="card-body">
    <ngb-alert
      *ngIf="errorMessage"
      type="danger"
      [dismissible]="false"
      class="customize-alert fs-5"
    >
      {{ errorMessage }}
    </ngb-alert>

    <ng-container *ngIf="isLoaded">
      <h4 class="card-title">{{ event.name }}</h4>

      <div fxLayout="row" class="score-columns">
        <div fxLayout="column">
          <div class="header">Pos</div>
          <ng-container *ngFor="let golfer of event.golfers; let i = index">
            <div class="pos">{{ golfer.pos }}</div>
          </ng-container>
        </div>

        <div fxLayout="column">
          <div class="header">Name</div>
          <ng-container *ngFor="let golfer of event.golfers; let i = index">
            <div fxLayout="column">
              <div class="names">{{ golfer.name }}</div>
            </div>
          </ng-container>
        </div>

        <div fxLayout="column">
          <div fxLayout="row">
            <div fxLayout="column">
              <div class="header">Total</div>
              <ng-container *ngFor="let golfer of event.golfers; let i = index">
                <div fxLayout="column">
                  <div
                    class="scores"
                    [ngClass]="{
                      'golf-round-under-par': golfer.total < 0
                    }"
                  >
                    {{ golfer.total }}
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>

        <div fxLayout="column">
          <div fxLayout="row">
            <div fxLayout="column">
              <div class="header">Thru</div>
              <ng-container *ngFor="let golfer of event.golfers; let i = index">
                <div fxLayout="column">
                  <div class="scores">{{ golfer.thru ? golfer.thru : '-' }}</div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>

        <div fxLayout="column">
          <div fxLayout="row">
            <div fxLayout="column">
              <div class="header">Today</div>
              <ng-container *ngFor="let golfer of event.golfers; let i = index">
                <div fxLayout="column">
                  <div
                    class="scores"
                    [ngClass]="{
                      'golf-round-under-par': golfer.today < 0
                    }"
                  >
                    {{ golfer.today ? golfer.today : '-' }}
                  </div>
                </div>
              </ng-container>
            </div>
            <div fxLayout="column">
              <div class="header-spacer">&nbsp;</div>
            </div>
            <ng-container *ngFor="let roundNumber of event.roundNumbers">
              <div fxLayout="column">
                <div class="header">R{{ roundNumber }}</div>

                <ng-container *ngFor="let golfer of event.golfers; let i = index">
                  <div fxLayout="column">
                    <div
                      class="scores"
                      [ngClass]="{
                        'golf-round-leader': event.lowRounds[roundNumber] === golfer[roundNumber]
                      }"
                    >
                      {{
                        golfer[roundNumber] && golfer[roundNumber].length > 0
                          ? golfer[roundNumber]
                          : '-'
                      }}
                    </div>
                  </div>
                </ng-container>
              </div>
            </ng-container>
          </div>
        </div>
      </div>

      <div style="text-align: center">
        Tournament
        <a [attr.href]="eventUrl + '/id/' + id">overview</a>
      </div>
    </ng-container>
  </div>
</div>
