<div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:gap-6">
  <!-- Metric Item Start -->
  <div
    class="rounded-2xl border border-theme-light-highlight bg-theme-light-card p-5 dark:border-theme-dark-highlight dark:bg-theme-dark-card md:p-6"
  >
    <div
      class="flex items-center justify-center w-12 h-12 bg-theme-light-base rounded-xl dark:bg-theme-dark-base"
      [innerHTML]="icons.groupIcon | safeHtml"
    ></div>
    <div class="flex items-end justify-between mt-5">
      <div>
        <span class="text-sm text-gray-500 dark:text-gray-400">Customers</span>
        <h4 class="mt-2 font-bold text-gray-800 text-title-sm dark:text-white/90">3,782</h4>
      </div>
      <app-badge color="success">
        <span [innerHTML]="icons.arrowUpIcon | safeHtml"></span>
        11.01%
      </app-badge>
    </div>
  </div>
  <!-- Metric Item End -->

  <!-- Metric Item Start -->
  <div
    class="rounded-2xl border border-theme-light-highlight bg-theme-light-card p-5 dark:border-theme-dark-highlight dark:bg-theme-dark-card md:p-6"
  >
    <div
      class="flex items-center justify-center w-12 h-12 bg-theme-light-base rounded-xl dark:bg-theme-dark-base"
      [innerHTML]="icons.boxIconLine | safeHtml"
    ></div>
    <div class="flex items-end justify-between mt-5">
      <div>
        <span class="text-sm text-gray-500 dark:text-gray-400">Orders</span>
        <h4 class="mt-2 font-bold text-gray-800 text-title-sm dark:text-white/90">5,359</h4>
      </div>
      <app-badge color="error">
        <span [innerHTML]="icons.arrowDownIcon | safeHtml"></span>
        9.05%
      </app-badge>
    </div>
  </div>
  <!-- Metric Item End -->
</div>
