.scorecard {
  padding: 20px 60px;
  border-left: 1px solid #ddd;
}

.header {
  font-weight: 700;
  padding-top: 5px;
  padding-bottom: 5px;
}

.score-other-bogey {
  color: #000000;
  font-weight: 600;
  width: 25px;
  height: 25px;
  border: 3px solid black;
  margin: 0 auto;
}

.score-double-bogey {
  color: #000000;
  font-weight: 600;
  width: 25px;
  height: 25px;
  border: 2px double black;
  margin: 0 auto;
}

.score-bogey {
  color: #000000;
  font-weight: 600;
  width: 25px;
  height: 25px;
  border: 1px solid black;
  margin: 0 auto;
}
.score-par {
  color: #006600;
  font-weight: 600;
}

.score-albatross {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  border: 3px solid #af0000;
  text-align: center;
  align-items: center;
  color: #af0000;
  font-weight: 600;
  margin: 0 auto;
}

.score-eagle {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  border: 2px double #af0000;
  text-align: center;
  align-items: center;
  color: #af0000;
  font-weight: 600;
  margin: 0 auto;
}

.score-birdie {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  border: 1px solid #af0000;
  text-align: center;
  align-items: center;
  color: #af0000;
  font-weight: 600;
  margin: 0 auto;
}

.score {
  width: 60px;
  border: 1px solid #ddd;
  text-align: center;
  align-items: center;
  padding: 5px;
}

.score-header {
  background-color: #2f5927;
  color: #fff;
  font-weight: 700;
}

.score-header-total {
  color: yellow;
}

.total {
  font-weight: 700;
}
