<div class="scorecard">
  <div fxLayout="row" fxLayoutGap="100" class="score-columns">
    <div class="header">Round {{ roundNumber }}</div>
    <div class="header">Today: {{ golfer.today ? golfer.today : '-' }}</div>
  </div>

  <div style="padding: 10px">
    <div fxLayout="row">
      <ng-container *ngFor="let hole of scores.front9; let i = index">
        <div class="score score-header">
          {{ i + 1 }}
        </div>
      </ng-container>
      <div class="score score-header score-header-total">{{ scores.front9Par }}</div>
    </div>

    <div fxLayout="row">
      <ng-container *ngFor="let hole of scores.front9; let i = index">
        <div class="score">
          <div
            [ngClass]="{
              'score-albatross': hole.fromPar < -2,
              'score-eagle': hole.fromPar === -2,
              'score-birdie': hole.fromPar === -1,
              'score-par': hole.fromPar === 0,
              'score-bogey': hole.fromPar === 1,
              'score-double-bogey': hole.fromPar === 2,
              'score-other-bogey': hole.fromPar > 2
            }"
          >
            {{ hole.score }}
          </div>
        </div>
      </ng-container>
      <div class="score total">{{ scores.front9Total }}</div>
    </div>
  </div>

  <div style="padding: 10px">
    <div fxLayout="row">
      <ng-container *ngFor="let hole of scores.back9; let i = index">
        <div class="score score-header">
          {{ i + 10 }}
        </div>
      </ng-container>
      <div class="score score-header score-header-total">{{ scores.back9Par }}</div>
    </div>

    <div fxLayout="row">
      <ng-container *ngFor="let hole of scores.back9; let i = index">
        <div class="score">
          <div
            [ngClass]="{
              'score-albatross': hole.fromPar < -2,
              'score-eagle': hole.fromPar === -2,
              'score-birdie': hole.fromPar === -1,
              'score-par': hole.fromPar === 0,
              'score-bogey': hole.fromPar === 1,
              'score-double-bogey': hole.fromPar === 2,
              'score-other-bogey': hole.fromPar > 2
            }"
          >
            {{ hole.score }}
          </div>
        </div>
      </ng-container>
      <div class="score total">{{ scores.back9Total }}</div>
    </div>
  </div>
</div>
