<div class="card">

    <div class="login-page">
        <div class="row justify-content-md-center">
            <div class="col-md-4">

                <h3>Update Profile</h3>
                <form *ngIf="isLoaded" name="form" role="form">
                    <div class="form-content">
                        <div class="form-group">
                            Name: <input placeholder="Name" name="name" [(ngModel)]="user.name"
                                class="form-control input-underline input-lg" type="text" />
                        </div>

                        <div class="form-group">
                            Email: <input placeholder="Email" name="userid" [(ngModel)]="user.username"
                                class="form-control input-underline input-lg" type="text" />
                        </div>

                        <div class="form-group">
                            Password: <input placeholder="Password" name="password" [(ngModel)]="user.password"
                                class="form-control input-underline input-lg" type="password" />
                        </div>
                    </div>
                    <div style="text-align: center; padding: 10px;">
                        <a (click)="onSave()" class="btn btn-rounded btn-info">Save</a>
                    </div>
                </form>

                <ngb-alert *ngIf="errorMessage" type="danger" [dismissible]="false" class="customize-alert fs-5">
                    {{errorMessage}}
                </ngb-alert>    

                <ngb-alert *ngIf="infoMessage" type="success" [dismissible]="false" class="customize-alert fs-5">
                    {{infoMessage}}
                </ngb-alert>
            </div>
        </div>
    </div>
</div>