.leaderboard {
  width: 550px;
  margin: 0 auto 0 auto;
  padding: 5px;
  border: 1px solid #cccccc;
  color: #ffffff;
  font-family: "Arial", Helvetica, sans-serif;
  background: #005500;
}

.leaderboard.name {
  text-align: left;
  white-space: nowrap;
}

.leaderboard.score {
  text-align: right;
}

.leaderboard.title {
  text-align: center;
  background: none;
  border: none;
}

.leaderboard-header {
  padding: 10px;
  white-space: nowrap;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  background: #005500;
}

.leaderboard-name {
  width: 180px;
  padding: 5px 10px;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.leaderboard-score {
  padding: 5px 30px;
}

.leadercell {
  color: yellow;
  background-color: #004400;
}

td.leaderboard {
  padding: 0.4em 0.4em;
  border: none;
}

@media (max-width: 550px) {
  .leaderboard {
    width: 325px;
  }

  .leaderboard.name {
    white-space: pre-wrap;
  }

  .leaderboard-name {
    width: 135px;
    padding: 5px 5px;
  }

  .leaderboard-score {
    padding: 5px 5px;
  }
}
