<div class="leaderboard">
  <h3 class="leaderboard title">Game Leaderboard</h3>
  <div style="padding: 15px; text-align: center">
    <div fxLayout="row">
      <div fxLayout="column">
        <div class="leaderboard-header" style="text-align: left">
          <b>Name</b>
        </div>

        <ng-container *ngFor="let gamer of gamers">
          <div class="leaderboard-name">
            {{ gamer.name }}
          </div>
        </ng-container>
      </div>

      <ng-container *ngFor="let title of roundTitles; let i = index">
        <div fxLayout="column">
          <div class="leaderboard-header">
            <b>{{ title }}</b>
          </div>
          <ng-container *ngFor="let gamer of gamers">
            <div
              class="leaderboard-score"
              [class.leadercell]="gamer.rounds[i].leader"
            >
              {{ gamer.rounds[i].score }}
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="leaderboard title">
    <span class="leadercell">*</span>&nbsp;&nbsp;<span>Round Leader</span>
  </div>
</div>
