<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Tournaments</h4>

                <ngb-alert *ngIf="errorMessage" type="danger" [dismissible]="false" class="customize-alert fs-5">
                    {{errorMessage}}
                </ngb-alert>
    
                <div *ngIf="isLoaded" class="table-responsive">
                    <table class="table align-middle text-nowrap">
                        <thead>
                            <tr>
                                <th class="text-dark font-medium fs-4">Name</th>
                                <th class="text-dark font-medium fs-4">Rounds</th>
                                <th class="text-dark font-medium fs-4">Start</th>
                                <th class="text-dark font-medium fs-4">End</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor='let event of events'>
                                <td>
                                    <a [attr.href]="baseUrl + '/id/' + event.id">{{event.attributes.name}}</a>
                                </td>
                                <td class="fs-4">
                                    {{event.attributes.rounds.length}}
                                </td>
                                <td class="fs-4">
                                    {{dateFormatter.formatDate(event.attributes.start)}}
                                </td>
                                <td class="fs-4">
                                    {{dateFormatter.formatDate(event.attributes.end)}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

