<div class="row">

    <div class="col-lg-6">

        <rd-widget>
            <rd-widget-header icon="fa-desktop" title="GolfPicks App">
            </rd-widget-header>

            <rd-widget-body classes="no-padding">

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <td>About This App</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>This is the GolfPicks application built on BlueMix.</td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Technologies Used:</b>
                                    <ul>

                                        <li>The web app is implemented using <a href="https://angularjs.org">Angular.js</a> with the mobile app based on the <a href="http://ionicframework.com">Ionic framework</a>.
                                        </li>
                                        <li>The server side is implemented using StrongLoop with <a href="https://nodejs.org">Node.js</a></li>
                                        <li><a href="https://cloudant.com">Cloudant</a> is used as the backend NOSQL database. </li>
                                        <li>Weather forecast data supplied by the 
                                            <a href="http://www.theweathercompany.com">Weather Company</a> API </li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>

            </rd-widget-body>

        </rd-widget>
    </div>

</div>