<div class="row">

    <div class="col-lg-6">

        <rd-widget>
            <rd-widget-header icon="fa-desktop" title="GolfPicks App">
            </rd-widget-header>

            <rd-widget-body classes="no-padding">

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <td>How is Watson used in GolfPicks?</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <p>
                                    The Watson <a href="https://www.ibm.com/watson/developercloud/">cognitive APIs</a> are used to allow Watson to participate in the game.  Those picks are loaded into the game and shown as "Watson" on the leaderboard.
                                    </p>
                                    <p>
                                    Watson uses a combination of the field's performance over the last year's majors (prioritizing past performance in the current major) and their performance
                                    in the last 4 tournaments prior to the event to come up with its top picks. Watson then does a tradeoff analysis on the field using historical data combined
                                    with the current world ranking.
                                    </p>
                                    <p>
                                    Watson's picks aren't counted in the game itself, but the results
                                    are shown alongside the human players for reference.  I'll continue to
                                    tune the Watson results by feeding it more historical data for each player.</p>
                                    <p>- Don</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>

            </rd-widget-body>

        </rd-widget>
    </div>

</div>
