<div ng-controller="CourseCtrl">
    <script type="text/ng-template" id="deleteCourse.html">
        <div class="modal-header">
            <h3 class="modal-title">Confirm delete</h3>
        </div>
        <div class="modal-body">
            <div>Delete course {{course.name}}? This will permanently remove the course.</div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <div class="row">

        <rd-loading ng-hide="loaded"></rd-loading>

        <div ng-show="loaded" class="col-sm-6">
            <rd-widget>
                <rd-widget-header icon="fa-user" title="{{title}}">
                    <a ng-show="existingCourse" href="" ng-click="delete()">Delete</a>
                </rd-widget-header>
                <rd-widget-body classes="no-padding">
                    <form>
                        <div class="table-responsive">
                            <table class="table">
                                <tr>
                                    <td><span>Course Name:</span>
                                    </td>
                                    <td colspan="3">
                                        <input size="60" ng-model="name"></input>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span>Tee:</span>
                                    </td>
                                    <td colspan="3">
                                        <input  size="60" ng-model="tee"></input>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span>Slope:</span>
                                    </td>
                                    <td>
                                        <input size="10" ng-model="slope"></input>
                                    </td>
                                    <td><span>Rating:</span>
                                    </td>
                                    <td>
                                        <input size="10" ng-model="rating"></input>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span>Latitude:</span>
                                    </td>
                                    <td>
                                        <input size="20" ng-model="location.lat"></input>
                                    </td>
                                    <td><span>Longitude:</span>
                                    </td>
                                    <td>
                                        <input size="20" ng-model="location.lng"></input>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <div class="text-center">Course Information</div>

                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr class="scorecard hole">
                                        <th>Hole</th>
                                        <th>Yards</th>
                                        <th>Hcp</th>
                                        <th>Par</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="hole in holes">
                                        <td>{{hole.number}}</td>
                                        <td>
                                            <input class="text-center" size="15" ng-model="hole.yardage"></input>
                                        </td>
                                        <td>
                                            <input class="text-center" size="10" ng-model="hole.handicap"></input>
                                        </td>
                                        <td>
                                            <input class="text-center" size="5" ng-model="hole.par"></input>
                                        </td>
                                    </tr>
                                    <tr class="text-center">
                                        <td colspan="4">
                                            <button ng-click="submit()">Save</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </form>
                </rd-widget-body>
            </rd-widget>

        </div>
    </div>
</div>
