<div ng-controller="EventCtrl">
    <script type="text/ng-template" id="deleteEvent.html">
        <div class="modal-header">
            <h3 class="modal-title">Confirm delete</h3>
        </div>
        <div class="modal-body">
            <div>Delete event {{event.name}}? This will permanently remove the event.</div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <div class="row">

        <div class="col-lg-6">
            <rd-widget>
                <rd-widget-header icon="fa-user" title="{{title}}">
                    <a ng-show="existingEvent" href="" ng-click="delete()">Delete</a>
                </rd-widget-header>
                <rd-widget-body classes="large no-padding">
                    <div class="table-responsive">
                        <form>
                            <div class="table-responsive">
                                <table class="table">
                                    <tr>
                                        <td><span>Name:</span>
                                        </td>
                                        <td colspan="3">
                                            <input size="40" ng-model="name"></input>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span>Start:</span>
                                        </td>
                                        <td>
                                            <p class="input-group">
                                                <input type="text" size="12" class="form-control" datepicker-popup="{{datePickerOptions.format}}" ng-model="start" is-open="datePickerOptions.startopen" datepicker-append-to-body="true" min-date="minDate" max-date="'2020-06-22'" ng-required="true" close-text="Close" />

                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" ng-click="startopen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                                </span>
                                            </p>
                                        </td>
                                        <td><span>End:</span>
                                        </td>
                                        <td>
                                            <p class="input-group">
                                                <input type="text" size="12" class="form-control" datepicker-popup="{{datePickerOptions.format}}" ng-model="end" is-open="datePickerOptions.endopen" datepicker-append-to-body="true" min-date="minDate" max-date="'2020-06-22'" ng-required="true" close-text="Close" />

                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" ng-click="endopen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                                </span>
                                            </p>
                                        </td>
                                </table>
                                <table class="table">
                                    </tr>
                                    <tr>
                                        <td>Rounds: <div class="pull-right"><a href="">Edit</a></div></td>
                                    </tr>
                                    <tr ng-hide="rounds.length>0">
                                        <td>[ No Rounds ]</td>
                                    </tr>
                                    <tr ng-repeat="round in rounds">
                                        <td>{{round.course}}</td>
                                    </tr>
                                </table>
                                <table class="table">
                                    <tr>
                                        <td>Players: <div class="pull-right"><a href="">Edit</a></div></td>
                                    </tr>
                                    <tr ng-hide="players.length>0">
                                        <td>[ No Players ]</td>
                                    </tr>
                                    <tr ng-repeat="player in players">
                                        <td>{{player.name}}</td>
                                    </tr>
                                    <tr class="text-center">
                                        <td colspan="4">
                                            <button ng-click="submit()">Save</button>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                        </form>
                    </div>
                </rd-widget-body>
                <rd-widget>
        </div>
    </div>
</div>