<div ng-controller="GamePlayersCtrl">

    <div class="row">

    <div class="row">

        <div class="col-lg-6">
            <rd-loading ng-hide="loaded"></rd-loading>
            <rd-widget ng-show="loaded">
                <rd-widget-header icon="fa-trophy" title="{{name}}">
                    <div>Start: {{formatDate(start)}}</div>
                    <div>End: {{formatDate(end)}}</div>
                </rd-widget-header>
                <rd-widget-body classes="no-padding">
                    <div class="table-responsive">
                        <div class="table-responsive">

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Players who have made their picks</th>
                                    </tr>
                                </thead>
                                <tr ng-hide="picks.length>0">
                                    <td>[ No players have made their picks ]</td>
                                </tr>
                                <tr ng-repeat="pick in picks">
                                    <td>{{pick.name}}
                                    </td>
                                </tr>
                            </table>

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Players who have <b>NOT</b> made their picks</th>
                                    </tr>
                                </thead>
                                <tr ng-hide="nopicks.length>0">
                                    <td>[ All players have made their picks ]</td>
                                </tr>
                                <tr ng-repeat="nopick in nopicks">
                                    <td>{{nopick.name}}
                                    </td>
                                </tr>
                            </table>
                        </div>

                    </div>
                </rd-widget-body>
            </rd-widget>
        </div>
    </div>

</div>
