<div class="row">

	<div class="col-lg-6">
<form>
        <rd-widget>
			<rd-widget-header icon="fa-pencil" title="07/15/2015">
                <div><a href="#/course">Royal Aberdeen</a></div>
			</rd-widget-header>
			<rd-widget-body classes="medium no-padding">
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr class="scorecard hole"><th>Hole</th><th>1</th><th>2</th><th>3</th><th>4</th><th>5</th><th>6</th><th>7</th><th>8</th><th>9</th><th>OUT</th><th>TOTAL</th></tr>
						</thead>
						<tbody>
                            <tr>
                                <td>Yardage</td>
                                <td>409</td>
                                <td>530</td>
                                <td>218</td>
                                <td>430</td>
                                <td>409</td>
                                <td>530</td>
                                <td>218</td>
                                <td>430</td>
                                <td>430</td>
                                <td>3377</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Handicap</td>
                                <td>9</td>
                                <td>11</td>
                                <td>13</td>
                                <td>1</td>
                                <td>9</td>
                                <td>11</td>
                                <td>13</td>
                                <td>1</td>
                                <td>1</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Par</td>
                                <td>4</td>
                                <td>5</td>
                                <td>3</td>
                                <td>4</td>
                                <td>4</td>
                                <td>5</td>
                                <td>3</td>
                                <td>4</td>
                                <td>4</td>
                                <td>36</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Score</td>
                                <td><input size="2"></input></td>
                                <td><input size="2"></input></td>
                                <td><input size="2"></input></td>
                                <td><input size="2"></input></td>
                                <td><input size="2"></input></td>
                                <td><input size="2"></input></td>
                                <td><input size="2"></input></td>
                                <td><input size="2"></input></td>
                                <td><input size="2"></input></td>
                                <td>40</td>
                                <td></td>
                            </tr>
						</tbody>
					</table>
        		</div>
			</rd-widget-body>
		<rd-widget>

        <rd-widget>
			<rd-widget-body classes="medium no-padding">
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr class="scorecard hole"><th>Hole</th><th>10</th><th>11</th><th>12</th><th>13</th><th>14</th><th>15</th><th>16</th><th>17</th><th>18</th><th>IN</th><th>TOTAL</th></tr>
						</thead>
						<tbody>
                            <tr>
                                <td>Yardage</td>
                                <td>409</td>
                                <td>530</td>
                                <td>218</td>
                                <td>430</td>
                                <td>409</td>
                                <td>530</td>
                                <td>218</td>
                                <td>430</td>
                                <td>430</td>
                                <td>3377</td>
                                <td>6497</td>
                            </tr>
                            <tr>
                                <td>Handicap</td>
                                <td>9</td>
                                <td>11</td>
                                <td>13</td>
                                <td>1</td>
                                <td>9</td>
                                <td>11</td>
                                <td>13</td>
                                <td>1</td>
                                <td>1</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Par</td>
                                <td>4</td>
                                <td>5</td>
                                <td>3</td>
                                <td>4</td>
                                <td>4</td>
                                <td>5</td>
                                <td>3</td>
                                <td>4</td>
                                <td>4</td>
                                <td>36</td>
                                <td>72</td>
                            </tr>
                            <tr>
                                <td>Score</td>
                                <td><input size="2"></input></td>
                                <td><input size="2"></input></td>
                                <td><input size="2"></input></td>
                                <td><input size="2"></input></td>
                                <td><input size="2"></input></td>
                                <td><input size="2"></input></td>
                                <td><input size="2"></input></td>
                                <td><input size="2"></input></td>
                                <td><input size="2"></input></td>
                                <td>40</td>
                                <td>80</td>
                            </tr>
						</tbody>
					</table>
        		</div>
			</rd-widget-body>
		<rd-widget>
        </form>
	</div>
</div>

