<div class="row">

	<div class="col-lg-6">
		<rd-widget>
			<rd-widget-header icon="fa-pencil" title="Scores">
				<a href="#">Add Score</a>
			</rd-widget-header>
			<rd-widget-body classes="medium no-padding">
				<div class="table-responsive">
					<table class="table">
						<thead>
                            <tr><th>Date</th><th>Course</th><th>Score</th><th></th></tr>
						</thead>
						<tbody>
                            <tr>
                                <td>07/05/2015</td>
                                <td><a href="#/course">Royal Aberdeen</a></td>
                                <td>83</td>
                                <td><a href="#/score">View</a></td>
                            </tr>
                            <tr>
                                <td>06/29/2015</td>
                                <td><a href="#/course">Trump International</a></td>
                                <td>89</td>
                                <td><a href="#/score">View</a></td>
                            </tr>
                            <tr>
                                <td>05/15/2015</td>
                                <td><a href="#/course">Trump International</a></td>
                                <td>89</td>
                                <td><a href="#/score">View</a></td>
                            </tr>
						</tbody>
					</table>
        		</div>
			</rd-widget-body>
		<rd-widget>
	</div>
</div>

