<div class="row">

	<div class="col-lg-6">
		<rd-widget>
			<rd-widget-header title="John Choi">
                <div>Handicap: 5.2</div>
                <div>Score: 80</div>
			</rd-widget-header>
		<rd-widget>
	</div>
</div>
            
<div class="row">

	<div class="col-lg-6">
		<rd-widget>
			<rd-widget-header icon="fa-pencil" title="Royal Aberdeen">
                <div><a href="#/course">07/15/2015</a></div>
				<a href="#/scoreedit">Edit</a>
			</rd-widget-header>
			<rd-widget-body classes="small no-padding">
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr class="scorecard hole"><th>Hole</th><th>1</th><th>2</th><th>3</th><th>4</th><th>5</th><th>6</th><th>7</th><th>8</th><th>9</th><th>OUT</th><th>TOTAL</th></tr>
						</thead>
						<tbody>
                            <tr class="scorecard yardage">
                                <td>Yardage</td>
                                <td>409</td>
                                <td>530</td>
                                <td>218</td>
                                <td>430</td>
                                <td>409</td>
                                <td>530</td>
                                <td>218</td>
                                <td>430</td>
                                <td>430</td>
                                <td>3377</td>
                                <td></td>
                            </tr>
                            <tr class="scorecard handicap">
                                <td>Handicap</td>
                                <td>9</td>
                                <td>11</td>
                                <td>13</td>
                                <td>1</td>
                                <td>9</td>
                                <td>11</td>
                                <td>13</td>
                                <td>1</td>
                                <td>1</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr class="scorecard par">
                                <td>Par</td>
                                <td>4</td>
                                <td>5</td>
                                <td>3</td>
                                <td>4</td>
                                <td>4</td>
                                <td>5</td>
                                <td>3</td>
                                <td>4</td>
                                <td>4</td>
                                <td>36</td>
                                <td></td>
                            </tr>
						</tbody>
					</table>
        		</div>
			</rd-widget-body>
		<rd-widget>

        <rd-widget>
			<rd-widget-body classes="small no-padding">
				<div class="table-responsive">
					<table class="table scorecard">
						<thead>
							<tr class="scorecard hole"><th>Hole</th><th>10</th><th>11</th><th>12</th><th>13</th><th>14</th><th>15</th><th>16</th><th>17</th><th>18</th><th>IN</th><th>TOTAL</th></tr>
						</thead>
						<tbody>
                            <tr class="scorecard yardage">
                                <td>Yardage</td>
                                <td>409</td>
                                <td>530</td>
                                <td>218</td>
                                <td>430</td>
                                <td>409</td>
                                <td>530</td>
                                <td>218</td>
                                <td>430</td>
                                <td>430</td>
                                <td>3377</td>
                                <td>6497</td>
                            </tr>
                            <tr class="scorecard handicap">
                                <td>Handicap</td>
                                <td>9</td>
                                <td>11</td>
                                <td>13</td>
                                <td>1</td>
                                <td>9</td>
                                <td>11</td>
                                <td>13</td>
                                <td>1</td>
                                <td>1</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr class="scorecard par">
                                <td>Par</td>
                                <td>4</td>
                                <td>5</td>
                                <td>3</td>
                                <td>4</td>
                                <td>4</td>
                                <td>5</td>
                                <td>3</td>
                                <td>4</td>
                                <td>4</td>
                                <td>36</td>
                                <td>72</td>
                            </tr>
						</tbody>
					</table>
        		</div>
			</rd-widget-body>
		<rd-widget>
	</div>
</div>
            
            

            

