<div class="row">

    <div class="col-lg-6">

        <rd-widget>
            <rd-widget-header icon="fa-desktop" title="Support for GolfPicks">
            </rd-widget-header>

            <rd-widget-body classes="no-padding">

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <td>Support</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>You get what you pay for. :-)</td>
                            </tr>
                            <tr>
                                <td>Report issues to <a href="mailto:djboulia@gmail.com">djboulia@gmail.com</a></td>
                            </tr>

                        </tbody>
                    </table>

                </div>

            </rd-widget-body>

        </rd-widget>
    </div>

</div>