<!--
  This template loads for the 'tab.about' state (app.js)
-->
<ion-view view-title="About This App">

    <ion-content class="has-header padding">

        <div class="list card">

            <div class="item item-avatar">
                <h2>GolfPicks Mobile Web</h2>
            </div>

            <div class="item item-body">
                <div class="logo">
                </div>    
                <p>This is a GolfPicks application built with Mobile Cloud for BlueMix.
                </p>
				<h2>Technologies Used</h2>
                <p>The mobile app is implemented using the <a href="http://ionicframework.com">Ionic framework</a>, which is based on <a href="https://angularjs.org">Angular.js</a>.
                </p>
            </div>
			
            <div class="item item-avatar">
				<img src="images/bluemix.png"  alt="Bluemix">
				<h2>Powered by:<h2>
				<h3>Bluemix</h3>
            </div>
			
        </div>

    </ion-content>
</ion-view>
