<!--
  This template loads for the 'tab.about' state (app.js)
-->
<ion-view view-title="About This App">

    <ion-content class="has-header padding">

        <div class="list card">

            <div class="item item-avatar">
                <h2>GolfPicks Mobile Web</h2>
            </div>

            <div class="item item-body">
                <div class="logo">
                </div>

                <p>This is the GolfPicks application built on the IBM Cloud.
                </p>
                <h2>Technologies Used</h2>
                <ul>
                <li>The web app is implemented using <a href="https://angularjs.org">Angular.js</a> with the mobile app based on the <a href="http://ionicframework.com">Ionic framework</a>.
                </li>
                <li>The server side is implemented using StrongLoop with <a href="https://nodejs.org">Node.js</a></li>
                <li><a href="https://cloudant.com">Cloudant</a> is used as the backend NOSQL database. </li>
                <li>Weather forecast data supplied by the
                    <a href="http://www.theweathercompany.com">Weather Company</a> API </li>
                </ul>

                <h3>Please send questions or comments to <a href="mailto:djboulia@gmail.com">djboulia@gmail.com</h3>

            </div>

            <div class="item item-avatar">
                <h2>Powered by:<h2>
                    <img src="images/ibmcloud.png"  alt="IBM CLoud" height="100" width="163">
            </div>
			
        </div>

    </ion-content>
</ion-view>
