<ion-view view-title="{{title}}">

    <div class="bar bar-subheader bar-light">
        <h1 class="title">{{event}}</h1>
	</div>

    <ion-content class="has-header has-subheader">

        <div class="list-error card assertive-bg" ng-show="statusMessage">
            <div class="item item-text-wrap" ng-bind-html="statusMessage"></div>
       </div>

        <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="onRefresh();" ng-show="gamer">
        </ion-refresher>


        <ion-list can-swipe="true" class="list" ng-show="gamer">
            <ion-item class="item item-divider golf-item">            
				<div class="row">
				  <div class="col col-50"></div>
				  <div class="col" style="text-align:right;" 
                       ng-repeat="displayRound in displayRounds">{{roundTitles[displayRound]}}</div>
				</div>
			</ion-item>

				
            <ion-item ng-repeat="pick in gamer.picks track by $index" item="pick" class="item golf-item">
				                
				<div class="row">
				  <div class="col col-50">{{pick.name}}</div>
				  <div class="col" style="text-align:right;" 
					  ng-repeat="displayRound in displayRounds">{{pick.rounds[displayRound]}}</div>
				</div>
		
            </ion-item>
						
            <ion-item class="item golf-item golf-item-total item-divider">
				                
				<div class="row">
				  <div class="col col-50"><b>Total</b></div>
				  <div class="col" style="text-align:right;" 
					  ng-repeat="displayRound in displayRounds">{{gamer.scores[displayRound]}}</div>
				</div>
		
            </ion-item>

        </ion-list>
	
        <ion-list can-swipe="true" class="list" ng-show="watson">
            <ion-item class="item item-divider golf-item">
				<div class="row">
				  <div class="col col-50"></div>
				  <div class="col" style="text-align:right;"
                       ng-repeat="displayRound in displayRounds">{{roundTitles[displayRound]}}</div>
				</div>
			</ion-item>


            <ion-item ng-repeat="pick in watson.picks track by $index" item="pick" class="item golf-item">

				<div class="row">
				  <div class="col col-50">{{pick.name}}</div>
				  <div class="col" style="text-align:right;"
					  ng-repeat="displayRound in displayRounds">{{pick.rounds[displayRound]}}</div>
				</div>

            </ion-item>

            <ion-item class="item golf-item golf-item-total item-divider">

				<div class="row">
				  <div class="col col-50"><b>Total</b></div>
				  <div class="col" style="text-align:right;"
					  ng-repeat="displayRound in displayRounds">{{watson.scores[displayRound]}}</div>
				</div>

            </ion-item>

        </ion-list>    </ion-content>


</ion-view>
