<ion-view view-title="GolfPicks">

    <div class="bar bar-subheader bar-light">
        <h1 class="title">Tournament History</h1>
	</div>

    <ion-content class="has-header has-subheader">

         <div class="list-error card assertive-bg" ng-show="statusMessage">
             <div class="item item-text-wrap golf-status-message" ng-bind-html="statusMessage"></div>
        </div>

        <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="onRefresh();" ng-show="list">
        </ion-refresher>

        <ion-list can-swipe="true" class="list">
            <ion-item ng-show="active.inProgress" ng-click="selectGame(active)" item="active" class="item">
                <div class="golf-active-event">{{active.event}}</div>
				  <span style="float:right;"><i class="icon ion-chevron-right"></i></span>
            </ion-item>

            <ion-item ng-repeat="game in gameHistory" item="game" 
                        class="item" href="#/tab/leaderboard/{{game.eventid}}">
                {{game.event}}
				<span style="float:right;"><i class="icon ion-chevron-right"></i></span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>