<ion-view view-title="{{event}}">

    <div class="bar bar-subheader bar-light">
        <h1 class="title">{{courseinfo.course}}</h1>
    </div>

    <ion-content class="has-header has-subheader">

        <div class="list-error card assertive-bg" ng-show="statusMessage">
            <div class="item item-text-wrap golf-status-message" ng-bind-html="statusMessage"></div>
        </div>

        <ion-refresher pulling-text="Pull to refresh..." on-refresh="onRefresh();" ng-show="gamers">
        </ion-refresher>

        <div>


            <ion-list can-swipe="true" class="list" ng-show="gamers">
                <ion-item class="item">
                    <div id="newsfeed-container" class="ticker-container">
                        <div id="newsfeed-text" class="ticker-text" style="text-align:center" ng-bind-html="newsfeed">
                        </div>
                    </div>
                </ion-item>

                <ion-item class="item item-divider golf-item-leaderboard">
                    <div style="text-align:center;">Leaderboard</div>
                </ion-item>

                <ion-item class="item item-divider golf-item-leaderboard">
                    <div class="row">
                        <div class="col col-50 golf-col-header"><b>Name</b>
                        </div>
                        <div class="col golf-col golf-col-header" ng-repeat="displayRound in displayRounds">
                            <b>{{roundTitles[displayRound]}}</b>
                        </div>
                        <div class="col golf-col golf-col-header"><b></b>
                        </div>
                    </div>
                </ion-item>

                <ion-item ng-repeat="gamer in gamers" ng-click="selectGamer(gamer)" item="gamer" class="item golf-item-leaderboard">

                    <div class="row">
                        <div class="col col-50">{{gamer.name}}</div>
                        <div class="col golf-col" ng-repeat="displayRound in displayRounds" 
                             ng-class="{'golf-col-leader': gamer.rounds[displayRound].leader}">
                            {{gamer.rounds[displayRound].score}}</div>
                        <div class="col golf-col"><i class="icon ion-chevron-right"></i>
                        </div>
                    </div>

                </ion-item>

                <ion-item class="item item-divider golf-item-leaderboard">
                    <div style="text-align:center;"><span class="golf-col-leader">&nbsp;*&nbsp;</span> Round Leader</div>
                </ion-item>

                <ion-item ng-show="watson" ng-click="selectWatson()" item="watson" class="item golf-item-leaderboard">

                    <div class="row">
                        <div class="col col-50"><img src="images/watsonlogo.png" height="20"></div>
                        <div class="col golf-col" ng-repeat="displayRound in displayRounds">
                            {{watson.scores[displayRound]}}</div>
                        <div class="col golf-col"><i class="icon ion-chevron-right"></i>
                        </div>
                    </div>

                </ion-item>

                <ion-item class="item">
                </ion-item>

            </ion-list>
        </div>

    </ion-content>


</ion-view>
