<ion-pane>

    <ion-header-bar class="bar">
		<div class="bar bar-header item-input-inset">
		  <label class="item-input-wrapper">
		    <i class="icon ion-ios7-search placeholder-icon"></i>
		    <input type="search" placeholder="Golfer Search" ng-model="search">
		  </label>
			 
		</div>	
    </ion-header-bar>

    <div class="bar bar-subheader golf-bar">
        <h1 ng-show="loaded" class="title">Picks for {{name}}</h1>

        <button class="button button-clear button-primary" ng-click="gameRules()">
            <i class="icon ion-ios7-help-outline"></i>
        </button>
	</div>

    <ion-content ng-show="loaded" class="has-header has-subheader">

         <div class="list-error card assertive-bg" ng-show="statusMessage">
             <div class="item item-text-wrap golf-status-message" ng-bind-html="statusMessage"></div>
        </div>

        <ion-list can-swipe="true" class="list">
				
			<ion-item class="item item-divider item-select golf-item">
			            
				<div class="row" style="padding-left:50px;">	<!--hack left padding to line up header columns -->
				  <div class="col"><b>Player</b></div>
				  <div class="col text-center"><b>Rank</b></div>
				</div>
				
				<select ng-model="showView" ng-options="view for view in views" ng-change="showViewUpdate(showView);"></select>

			</ion-item>


            <ion-item ng-repeat="player in players | filter:filterPicks(showView) | filter:search" 
					  item="player" class="item item-checkbox" style="padding-top: 2px; padding-bottom: 2px;">
				<div class="row">
				  <div class="col" ng-class="{'golf-disabled': !player.selectable}"><b>{{player.name}}</b></div>
				  <div class="col text-center" ng-class="{'golf-disabled': !player.selectable}"><b>{{player.rank}}</b></div>
				  
					<label class="checkbox" ng-class="{'checkbox-balanced': player.index<=NUM_TOP_RANK}">
						  <input type="checkbox" ng-disabled="!player.selectable" 
								ng-model="player.selected" 
                                 ng-click="updatePlayer(player);">
     				</label>
				</div> 
				   
				            
            </ion-item>
        </ion-list>
    </ion-content>
	
<ion-footer-bar align-title="center" class="bar-light">
  <div class="buttons">
    <button class="button button-positive" ng-disabled="!canSubmit" ng-click="submit()">Save Picks</button>
	<div class="title" style="font-size:80%;">{{picksMessage}}</div>
  </div>
</ion-footer-bar>

</ion-pane>
