<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <ngb-alert
          *ngIf="errorMessage"
          type="danger"
          [dismissible]="false"
          class="customize-alert fs-5"
        >
          {{ errorMessage }}
        </ngb-alert>

        <h4 *ngIf="isLoaded" class="card-title">{{ event.name }}</h4>
        <div *ngIf="isLoaded">{{ dateFormatter.formatDateRange(event.start, event.end) }}</div>

        <div *ngIf="isLoaded" class="table-responsive">
          <div style="text-align: center">
            View <a [attr.href]="scoresUrl + '/id/' + id">scores</a> for this event
          </div>

          <table class="table align-middle text-nowrap">
            <thead>
              <th>Round</th>
              <th>Course</th>
              <th>Date</th>
            </thead>
            <tbody>
              <tr *ngFor="let round of event.rounds; let i = index">
                <td>
                  {{ i + 1 }}
                </td>
                <td>
                  {{ round.course.name }}
                </td>
                <td>
                  {{ dateFormatter.formatDate(round.date) }}
                </td>
              </tr>
            </tbody>
          </table>

          <div *ngIf="isLoaded" class="map">
            <google-map height="400px" width="max" [center]="mapCenter" [zoom]="mapZoom">
              <map-marker
                *ngFor="let round of event.rounds"
                [position]="formatPosition(round.course.location)"
                [label]="round.course.name"
              ></map-marker>
            </google-map>
          </div>

          <div style="text-align: center; padding: 0.5rem; font-weight: 700">The Field</div>
          <table class="table align-middle text-nowrap">
            <thead>
              <th>Player</th>
              <th>Rank</th>
            </thead>
            <tbody>
              <tr *ngFor="let golfer of event.golfers">
                <td>
                  {{ golfer.name }}
                </td>
                <td>
                  {{ golfer.rank }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
