<div class="row">
    <div class="col-12">
        <div class="card">

            <div class="card-body">

                <ng-template #content let-modal>
                    <div class="modal-header">
                        <h4 class="modal-title">Confirm Removing Course</h4>
                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>This will permanently remove course {{course.attributes.name}}. Are you sure?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-rounded btn-info"
                            (click)="modal.dismiss(confirmButton)">{{confirmButton}}</button>
                        <button type="button" class="btn btn-rounded btn-info"
                            (click)="modal.dismiss('Cancel')">Cancel</button>
                    </div>
                </ng-template>


                <h4 class="card-title">{{title}}</h4>
                <form *ngIf="isLoaded" name="form" role="form">

                    <div class="table-responsive">
                        <table class="table align-middle text-nowrap">
                            <thead>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th>
                                    <div *ngIf="deleteButton" style="text-align:right;"><a (click)="onDelete(content)"
                                            class="btn btn-rounded btn-danger">Delete</a></div>
                                </th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        Name
                                    </td>
                                    <td class="fs-4" colspan="3">
                                        <div class="form-group">
                                            <input placeholder="Name" name="name" [(ngModel)]="course.attributes.name"
                                                class="form-control input-underline input-lg" type="text" />
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Tee
                                    </td>
                                    <td class="fs-4" colspan="3">
                                        <div class="form-group">
                                            <input placeholder="Tee" name="tee" [(ngModel)]="course.attributes.tee"
                                                class="form-control input-underline input-lg" type="text" />
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Slope
                                    </td>
                                    <td class="fs-4">
                                        <div class="form-group">
                                            <input placeholder="Slope" name="slope"
                                                [(ngModel)]="course.attributes.slope"
                                                class="form-control input-underline input-lg" type="text" />
                                        </div>
                                    </td>
                                    <td>
                                        Rating
                                    </td>
                                    <td class="fs-4">
                                        <div class="form-group">
                                            <input placeholder="Rating" name="rating"
                                                [(ngModel)]="course.attributes.rating"
                                                class="form-control input-underline input-lg" type="text" />
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Latitude
                                    </td>
                                    <td class="fs-4">
                                        <div class="form-group">
                                            <input placeholder="Lat" name="lat"
                                                [(ngModel)]="course.attributes.location.lat"
                                                class="form-control input-underline input-lg" type="text" />
                                        </div>
                                    </td>
                                    <td>
                                        Longitude
                                    </td>
                                    <td class="fs-4">
                                        <div class="form-group">
                                            <input placeholder="Lng" name="lng"
                                                [(ngModel)]="course.attributes.location.lng"
                                                class="form-control input-underline input-lg" type="text" />
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <div style="text-align: center;">Course Information</div>

                                        <div class="table-responsive">
                                            <table class="table align-middle text-nowrap">
                                                <thead class="scorecard hole" >
                                                    <th>
                                                        Hole
                                                    </th>
                                                    <th>
                                                        Yards
                                                    </th>
                                                    <th>
                                                        Handicap
                                                    </th>
                                                    <th>
                                                        Par
                                                    </th>
                                                </thead>
                                                <tr *ngFor="let hole of course.attributes.holes">
                                                    <td>
                                                        {{hole.number}}
                                                    </td>
                                                    <td>
                                                        <input name="{{'yardage' + hole.number}}"
                                                        [(ngModel)]="hole.yardage"
                                                        class="form-control input-underline input-lg" type="text" />        
                                                    </td>
                                                    <td>
                                                        <input name="{{'handicap' + hole.number}}"
                                                        [(ngModel)]="hole.handicap"
                                                        class="form-control input-underline input-lg" type="text" />        
                                                    </td>
                                                    <td>
                                                        <input name="{{'par' + hole.number}}"
                                                        [(ngModel)]="hole.par"
                                                        class="form-control input-underline input-lg" type="text" />        
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div style="text-align: center;">
                        <a (click)="onSubmit()" class="btn btn-rounded btn-info">{{submitButton}}</a>
                    </div>

                </form>
            </div>

            <ngb-alert *ngIf="errorMessage" type="danger" [dismissible]="false" class="customize-alert fs-5">
                {{errorMessage}}
            </ngb-alert>

        </div>
    </div>
</div>